* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}



.header  {
width:100%;
display:block;
height:max-content;
background-color: #006666;
}

.logo {
	margin: auto;
	padding: 22.5px 0px 0px 10px;
	width: auto;
	text-align: center;

}

.nav ul {
	list-style-type: none;
	margin: auto;
	width: max-content;
	padding: 0;
	overflow: hidden;
	background-color: #996699;
	text-align: center;
}

.nav li {
	float: left;
	text-align: center;
}

.nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #FFEEFB (black) on hover */
.nav li a:hover {
	background-color: #9669FE;
}

body {
	background-color: #FF99CC;
	height: max-content, min-content;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
}

 /* Row One */

.row {
	display: grid;
	grid-template-columns: 100%;
	padding: 3.75%;
	grid-column-gap:  0;
	grid-row-gap: 20px;
	
}

.column {
	padding: 10px;
	text-align: center;
}

.column audio{
	align-content: center;
}

.column img {
	display: block;
	padding: 10px;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	
}


  /*  Row Two */

.row2 {
	display: grid;
	grid-template-columns: 100%;
	padding: 3.75%;
	grid-column-gap: 0;
	grid-row-gap: 40px;
	background-color: #9669FE;
	
}


.row2 .column iframe{
	width: 100%;
	max-width: 560px;

}




 
 /* Row Three */


.row3 {
	display: grid;
	grid-template-columns: 100%;
	padding: 3.75%;
	grid-column-gap: 0;
	grid-row-gap: 40px;
	background-color: #CCFFCC;

}

.row3 .column {
	display: block;
	padding: 50px;
	margin: auto auto auto auto;
	text-align: center;
	


}
.row3 .column img{
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.row3 .column h2 {
	text-align:center;
}

.excerpt {
	width: 75%;
	padding: 10px;
	margin: auto auto auto auto;
}

.excerpt h3{
	text-align: center;
}

p.excerpt1, p.excerpt3 {
	
	text-align: left;
	font-family:  Courier, "Courier New", Helvetica;
	font-weight: medium;
	line-height: 1.2em;
	padding: 20px;
}

p.excerpt2, p.excerpt4 {
	text-align: center;
	line-height: 1.2em;
	padding: 20px;
}

/* Row Four */

.row4 {
	display: grid;
	grid-template-columns: 100%;
	padding: 3.75%;
	grid-column-gap: 0;
	grid-row-gap: 40px;
	background-color: #7BA7E1;
}

.row4 .column iframe{
	width: 100%;
	max-width: 560px;
	text-align: center;
	padding: 50px;
}





/* Responsive layout -makes the three columns appear next to each other in a row when screen largens for row one */

@media only screen and (min-width: 640px) {
	.row {
		grid-template-columns:  47.5% 47.5%;
		grid-column-gap: 5%;
		grid-row-gap: 40px;
	}

	.row .column  {
		padding: 20px;
	}


}

@media only screen and (min-width: 981px) {
	.row {
		grid-template-columns:  30% 30% 30%;
		grid-row-gap:  50px;
	}

	.row .column {
		padding: 30px;
	}
}

/* Footer */

.footer {
	display:block;
	background-color: #FFFF99;
	text-align: center;
	padding: 12px;
}



